body {
    margin: 0;
    padding: 0;
    background: url("grass_texture241.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header {
    width: 1020px;
    height: 170px;
    position: relative;
    margin: 0 auto;
    background-image: url("banner.jpg");
}
.header .logo {
    float: left;
    padding-top: 120px;
    padding-left: 20px;
}
.header * {
    margin: 0;
    padding: 0;
}
body .header .menu {
    background: transparent;
}
.logo{
    display: inline;
    font-size: 40px;
    color: whitesmoke;
    font-family: 'Righteous', cursive;
}
.menu__list{
    background-color: black;
    opacity: 50;
    box-shadow: 0 2px 4px white, 0 2px 4px white;
    overflow: inherit;
}
.header .menu {
    font-size: 13px;
    margin: 0 0 0 420px;
    position: relative;
    width: 600px;
    text-align: center;
    padding: 135px 0 0;
}
.menu__list a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    color: white; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 5px 10px 5px 10px; /* Поля вокруг текста */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.menu__list li {
    text-decoration: none;
    text-align: center;
    display: inline-block; /* Строчно-блочные элементы */
    padding: 0 8px;
}
.menu__list li:hover {
    box-shadow: 0 2px 4px white, 0 2px 4px white;
}
.menu__item_active, .menu__link, .menu__list li:active {
    color: darkblue;
}
.menu li a:hover {
    color: black;
    background-color: white;

}