/* counters */

body {
    counter-reset: sum;
    min-width: 700px;
    white-space: nowrap;
}

#a:checked { counter-increment: sum 10; }
#b:checked { counter-increment: sum 15; }
#c:checked { counter-increment: sum -10; }
#d:checked { counter-increment: sum -5; }
#e:checked { counter-increment: sum 5; }
#f:checked { counter-increment: sum 15; }

.sum::before {
    content: '= ' counter(sum);
}

/* the rest is just to make things pretty */

body {
    margin: 32px;
    font: 700 32px/1 'Droid Sans', sans-serif;
    color: darkblue;
    text-align: center;
    background-image: url("http://getbg.net/upload/full/566471_oboi_svet_fon_tsvet_1920x1200_(www.GetBg.net).jpg");
    background-repeat:inherit;

}

h1 {
    margin: 0 0 32px;
    font-size: 48px;
}

h2 {
    margin: 0 0 8px 8px;
    font-size: inherit;
}

section {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .1);
}

input {
    position: absolute;
    left: -9999px;
}

label {
    float: left;
    margin: 8px;
    padding: 16px;
    border-radius: 4px;
    border: solid 2px rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: all .1s;
}

label::before {
    display: inline;
}

input:checked + label {
    border: solid 2px #fff;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 10px #fff;
}

span {
    float: left;
    margin: 8px;
    padding: 18px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .1);
}

#a:checked ~ #b:checked ~ #c:not(:checked) ~ #d:checked ~ #e:not(:checked) ~ #f:checked ~ .sum::after {
    content: ' (УРААААААА!!!)';
}
