h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
 font-family: 'Noticia Text', serif;
   font-size: 100%;
   background:#fff;
    min-width: 1280px;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header {
	background: url(../image/Back.png)no-repeat center top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	min-height:500px;
}
.logo66{
    float: right;
    margin-top: 400px;
    padding-top: 100px;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
}
.top-header{
	display:none;
}
/*------start-top-nav------*/
.top-header{
	display:none;
}
/*------start-top-nav------*/
.top-nav {
	position:relative;
	margin-top: 1.5em;
}
.nav { width:100%;}
ul.simple-toggle { list-style: none; padding: 0px; margin: 0px;text-align: center; }
ul.simple-toggle li { display: inline-block; text-align: left;
}
ul.simple-toggle li a.logo:hover{
	border-bottom:none;
}

ul.simple-toggle li a {
	        display: inline-block;
	        margin:0px 80px;
	        text-decoration: underline;
	        font-weight: bold;
	        -webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
            font-size: 30px;
            color: whitesmoke;
}
ul.simple-toggle li a:hover { color: deepskyblue;}
.anchor-link {
	display: none;
	text-align: center;
	margin-top:20px;
    margin-right: 10px;
  }
.about_left {
	background: url(../image/AboutPhoto.jpg)no-repeat center top;
    background-size: auto;
	padding: 500px 0 0 0;
	text-align: center;
    height: 620px;
    width: 550px;
    position: absolute;
}
.btn1 {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 150px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1 {
	border:10px solid #000;
	color:#000;
	font-size:2.5em;
}
.about_left a {
	position: relative;
	z-index: 1;
}
.btn-1d:hover:after {
	width: 95%;
	opacity: 1;
}
.btn-1d {
	overflow: hidden;
}
.btn-1d:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: black;
	opacity: 80;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.btn1:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1d:hover, .btn-1d:active {
	color:#fff;
	text-decoration:none;
}
.about_right{
	background:#f2efe5;
	padding:6.35em 0;
	text-align:center;
    min-height: 620px;
    width: 60%;
    margin-left: 40%;

}
.about_right h1{
	color:#000;
	font-size:0.95em;
	line-height:1.5em;
	padding: 2em 0 1em;
}
.about_text{
	width:80%;
	margin:0 auto;
}
.about_right p{
	color:#000;
	font-size:0.85em;
	line-height:1.8em;
	text-align: left;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
/*--team--*/
.team_grid1{
	background: url(../images/t1.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 12em 0;
	text-align: center;
}
.team_grid1 a {
	position: relative;
	z-index: 1;
}
.team_grid2{
	background: url(../images/t2.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height:506px;
	text-align: center;
}
.team_grid3{
	background: #ccc8b6;
	padding:6em 3em 0;
	text-align: center;
	min-height: 506px;
	position:relative;
}
.team_grid3 h3{
	color:#000;
	font-size:1.5em;
	text-transform:uppercase;
	margin-bottom:1.5em;
}
.team_grid3 p{
	color:#000;
	font-size:0.85em;
	text-align: left;
	line-height:1.8em;
}
ul.social{
	padding:0;
	list-style:none;
	margin-top:4em;
    margin-left: 0px;
	text-align: justify;
}
ul.social li {
	display: inline-block;
	margin-right:2em;
}
ul.social li:first-child {
	margin-left: 0;
}
ul.social li a i {
	width: 35px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat;
}
ul.social li a i.fb {
	background-position: -6px -56px;
}
ul.social li a i.fb:hover{
	background-position: -6px -106px;
}
ul.social li a i.tw {
	background-position: -59px -56px;
}
ul.social li a i.tw:hover{
	background-position: -60px -108px;
}
ul.social li a i.tumb {
	background-position: -123px -54px;
}
ul.social li a i.tumb:hover{
	background-position: -125px -108px;
}
ul.social li a i.linked {
	background-position: -189px -53px;
}
ul.social li a i.linked:hover{
	background-position:-188px -109px;
}
ul.social li a i.pinterest {
	background-position:-252px -56px;
}
ul.social li a i.pinterest:hover{
	background-position:-253px -110px;
}
ul.social li a i.google {
	background-position:-14px -167px;
}
ul.social li a i.google:hover{
	background-position:-14px -215px;
}
.team_grid4{
	background: url(../images/t3.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height:506px;
	text-align: center;
}
.arrow-icon1 {
	height: 30px;
	width: 28px;
	display: block;
	background: url(../images/arrow.png) no-repeat 0px -3px;
	position: absolute;
	right: 0px;
	z-index: 999;
	top:25%;
}
.arrow-icon1-r {
	left: -27px;
}
.team_grid5{
	background:#f2efe5;
	padding:8em 6em 0;
	min-height:506px;
}
.team_grid5 h3 {
	color: #000;
	font-size: 1.1em;
	text-transform: uppercase;
}
.team_grid5 input[type="text"] {
	background: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
	border:1px solid #000;
	outline: none;
	font-size: 13px;
	padding: 12px;
	color:#9a977a;
	width:100%;
	text-transform: uppercase;
}
.team_grid5 input[type="submit"] {
	background: #9a977a;
	text-transform: uppercase;
	border: none;
	padding: 0.7em;
	position: absolute;
	cursor: pointer;
	color: #FFF;
	outline: none;
	font-size: 1em;
	text-align: center;
	margin-top: 1.5em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 64%;
}
.team_grid5 input[type="submit"]:hover{
	background:#3ac9e8;
}
.team_grid5 p{
	color: #333;
	font-size:0.85em;
	text-transform: uppercase;
	line-height:1.5em;
	margin-bottom:3em;
}
/*--twitter--*/
.twitter{
	background: url(../images/twitter_bg.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height:350px;
	padding-top:7em;
	text-align:center;
}
i.tw_icon{
	width: 45px;
	height: 40px;
	display: inline-block;
	background: url(../images/img-sprite.png)no-repeat -89px -162px;
}
.twitter p{
	font-size:1.1em;
	line-height:1.5em;
	color:#f2efe5;
	font-style:italic;
	margin-top:2em;
}
/*--gallery--*/
.gallery2{
	padding:0;
}
ul.gallery_grid, ul.gallery_grid1 {
	padding: 0;
	list-style: none;
}
ul.gallery_grid li {
	width: 33.3333%;
	float: left;
}
.gallery1 a {
	position: relative;
	z-index: 1;
}
a.btn1.gallery_btn.btn-1.btn-1d {
	padding: 10px 50px;
}
ul.gallery_grid1 li {
	width: 19.9999%;
	float: left;
}
ul.popup_links.g_links {
	margin-left: 5em;
}
/*--contact--*/
.contact{
	background:white;
	padding:6em 0;
    align-content: center;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.contact_left{
    align-content: center;
	text-align:center;
    margin-left: 350px;
}
.contact_left h4{
	color:#000;
	font-size:1em;
	line-height:1.5em;
	margin:2em 0;
}
.contact_left a{
	position: relative;
	z-index: 1;
}
ul.list {
	width: 40%;
	padding: 0;
	list-style: none;
	text-align: left;
}
ul.list h5, ul.list1 h5{
	color:#000;
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
}
ul.list li, ul.list1 li{
	color:#000;
	font-size:0.95em;
	line-height: 1.8em;
	text-transform:uppercase;
}
ul.list1 {
	width: 100%;
	list-style: none;
	text-align: justify;
    padding-left: 0px;
    margin: auto;
}
a.btn1.contact_btn.btn-1.btn-1d {
	font-size:2em;
    margin-left: -120px;

}
/*--footer--*/
.footer{
	padding:3em ;
	background: black;
	text-align:center;
}
.copy_right p {
	font-size: 0.95em;
	color: whitesmoke;
}
.copy_right p a {
	color: white;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_move.png) no-repeat 0px 0px;
}

.btn1 {
	padding: 15px 50px;
	font-size:2em;
}
button {
	margin-top: 2em;
}
.team_grid3 {
	padding: 6em 1em 0;
}
ul.social {
	margin-top: 2em;
}
.team_grid1 {
	padding: 12.69em 0;
}
.gallery1 {
	padding: 3.5em 0 0;
	min-height: 195px;
}
a.btn1.gallery_btn.btn-1.btn-1d {
	padding: 8px 30px;
	font-size: 1.2em;
}
ul.popup_links.g_links {
	margin-left: 3em;
}
.about_right h1, .team_grid5 h3, .contact_left h4, ul.list h5, ul.list1 h5 {
	font-size: 1.2em;
}
.about_right p, .testimonial p, .team_grid3 p, .team_grid5 p, ul.list li, ul.list1 li{
	font-size: 1.1em;
}
